body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.airlineContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr)!important;
 }

@media only screen and (max-width: 650px) {
  .airlineContainer {
   grid-template-columns: repeat(1, 1fr)!important;
  }
  .airlines{
    margin: 25px 15px !important;
  }
  .navbar{
    padding: 25px 15px !important;
  }
}
@media only screen and (min-width: 650px) {
  .airlineContainer {
   grid-template-columns: repeat(2, 1fr)!important;
  }
}
@media only screen and (min-width: 920px) {
  .airlineContainer {
   grid-template-columns: repeat(3, 1fr)!important;
  }
}
@media only screen and (min-width: 1200px) {
  .airlineContainer {
   grid-template-columns: repeat(4, 1fr)!important;
  }
}